@font-face {
  font-family: 'Inconsolata';
  font-weight: normal;
  src: local('Inconsolata'), url(./assets/fonts/Inconsolata-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-weight: bold;
  src: local('Inconsolata'), url(./assets/fonts/Inconsolata-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: bold;
  src: local('Space Mono'), url(./assets/fonts/SpaceMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Space Mono';
  font-weight: normal;
  src: local('Space Mono'), url(./assets/fonts/SpaceMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('truetype');
}